<div style="padding-top: 50px;overflow-x:auto;">
  <h2 class="text-center">Employee List</h2>
<table class="table">
  <thead>
  <tr>
   
    <th>Employee Id</th>
    <th>Name</th>
    <th>Department</th>
    <th>Email</th>
    <th>Date Of Joining</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employee">
    
    <td>{{emp.empId}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.department}}</td>
    <td>{{emp.email}}</td>
    <td>{{emp.dateOfJoin}}</td>

    <td><button class="btn btn-danger" (click)="deleteEmployee(emp)"> X</button>
  </tr>
  </tbody>
</table>
</div>